.ticket-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: clamp(1rem, 2vw, 1rem);
    z-index: 10;
    position: relative;
    padding: 0 1rem;
}

.bg-container{
    position: relative;
    height: auto;
    width: 500px;
    width: min(100%, 500px);
    margin: 0 auto;
}

.relative{
    width: 100%;
}

.barcode-container{
    position: absolute;
    bottom: 140px;
}

.content {
    z-index: 20;
    margin: clamp(14.6rem, 8vw, 15rem) auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    max-width: 260px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    gap: 1rem;
}


.ticket-info {
    border: 1px solid #24A0B5;
    padding: clamp(0.75rem, 2vw, 1rem);
    width: 100%;
    border-radius: 14px;
    display: flex;
    max-height: 600px;
    height: auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    backdrop-filter: blur(10px);
    background: rgba(3, 30, 33, 0.1);
}


.event-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-size: 0.625rem;
    flex: 0 1 auto;
    padding: 0 clamp(0.5rem, 2vw, 1rem);
    margin-bottom: 1.2rem;
}

.event-detail h2{
    font-size: 1.5rem;
    font-family: "Road Rage", serif;
    line-height: 0.9;
}

.avatar {
    width: 140px;
    height: 140px;
    border: 2px solid rgba(36, 160, 181, 0.5);
    border-radius: 12px;
    margin: 0 auto;
}

.avatar img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.ticket-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    width: 100%;
    background: #08343C;
    color: white;
    text-align: left;
    border-radius: 1rem;
    border: 2px solid #12464E;
    padding: 4px;
}

.label {
    display: flex;
    flex-direction: column;
    font-size: clamp(0.7rem, 1.2vw, 0.85rem);
    border-bottom: 2px solid #12464E;
    border-right: 2px solid #12464E;
    color: #5A777C;
    padding: 5px;

}

.value {
    font-weight: bold;
    word-break: break-word;
    color:white;
}

.full {
    grid-column: span 2;
}

.ticket-details div {
    padding: clamp(0.7px, 1vw, 1px) 0;
    position: relative;
}

.ticket-details div:nth-child(2),
.ticket-details div:nth-child(4),
.ticket-details div:last-child {
    border-right: none;
}

.ticket-details div:last-child {
    border-bottom: none;
}



@media (max-width: 900px) {
    .content {
        margin: clamp(18rem, 8vw, 15rem) auto;
        width: calc(100% - 4rem);
    }
}


@media (max-width: 600px) {
    .content {
        margin-top: 19rem;
        width: calc(100% - 4rem);
        gap: 2rem;
    }

    .barcode-container{
        position: absolute;
        bottom: 210px;
    }

    .ticket-info{
        justify-content: center;
        height: auto;
    }
}

@media (max-width: 414px){
    .content {
        margin-top: 22rem;
        width: calc(100% - 6rem);
        gap: 2rem;
    }

    .barcode-container{
        bottom: 220px;
    }

    .event-detail h2 {
        font-size: clamp(1rem, 2vw, 1.2rem);
    }

    .event-detail p {
        font-size: clamp(0.5rem, 1.8vw, 0.8rem);
    }
}

@media(max-width: 350px){
    .content {
        margin-top: 22rem;
        width: calc(100% - 6rem);
        gap: 2rem;
    }

    .barcode-container{
        bottom: 250px;
    }

    .barcode{
        width: 90%;
        margin: 0 auto;
    }
}